# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main", "cleanup", "dev" ]
#  pull_request:
#    branches: [ "main", "cleanup" ]

defaults:
  run:
    working-directory: ./ServiceSiteScheduling

jobs:
  check_formatting:
    runs-on: ubuntu-latest
    name: Check Formatting
    steps:
    - uses: actions/checkout@v4
    - run: |
        dotnet tool restore
        dotnet csharpier check .
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore HIP.csproj
    - name: Build
      run: dotnet build --no-restore HIP.csproj
    - name: Run
      run: dotnet run --no-build --verbosity normal
